a {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFFFFF; font-weight: normal; text-decoration: underline}
.gcip {  font-family: "Courier New", Courier, mono; font-size: 20px; font-weight: normal; color: #FFFFFF}
.youarehere {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #FFFF00}
h1 {  font-family: "Times New Roman", Times, serif; font-size: 60pt; color: #669966; font-weight: bold; text-decoration: none}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 12pt; color: #003300; font-style: normal; text-decoration: none; text-align: justify}
.unnamed1 {  font-family: "Times New Roman", Times, serif; font-size: 12pt; color: #0000FF}
a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #FFCC00; font-weight: normal; text-decoration: underline }
