.black {  font-family: "Courier New", Courier, mono; font-size: 24px; font-weight: lighter; color: #FFFFFF; text-decoration: none}
.white {  font-family: "Courier New", Courier, mono; font-size: 24px; color: #000000; text-decoration: none}
