p {  font-family: "Courier New", Courier, mono; font-size: 12px; font-weight: lighter; color: #999900; text-decoration: none}
a { font-family: "Courier New", Courier, mono; font-size: 12px; font-weight: lighter; color: #999900; text-decoration: none }
a:hover { font-family: "Courier New", Courier, mono; font-size: 12px; font-weight: lighter; color: #000000; text-decoration: underline}
body {  background-color: #FFFFFF}
h1 {  font-family: "Courier New", Courier, mono; font-size: 45px; font-weight: lighter; color: #CC9900; text-decoration: none}
