.normaltext {  font-family: Tahoma, Verdana, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: left; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
.smalltext { font-family: Tahoma, Verdana, Helvetica, sans-serif; font-size: 10px; color: #000000; text-align: left; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px }
a { color: #000099}
.meny { font-family: Tahoma, Verdana, Helvetica, sans-serif; font-size: 10px; text-align: center; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}
